<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><img src="https://storage.googleapis.com/sc-oauth2-client-icons/8d7a94a8-2657-46cf-91a3-581c131cabf7.png" width="280" height="400" ></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div